<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="BitLyAPIToken" value="8d3c1f7e9c0a5e2b4a7d1c0e9f5e7d3b2a8"/>
    <add key="BitLyAPIUrl" value="https://api-ssl.bitly.com/shorten?access_token={0}&amp;longUrl={1}"/>
  </appSettings>
</configuration>
