<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="BitLyAPIToken" value="99aa814f9eac5e721006a821cf93da9fee778a54"/>
    <add key="BitLyAPIUrl" value="https://api-ssl.bitly.com/shorten?access_token={0}&amp;longUrl={1}"/>
  </appSettings>
</configuration>
